$color-dark: #051020;
$color-light: #ffffff;
$color-pink: #FF6565;
$color-pink-hover: #bf5858;





* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

p {
  line-height: 3.125rem;
  text-align: center;


}

.light {
  color: $color-light;
}
