header {
  background-image: url("../img/headphones_hero_1.jpg");
  background-position: center;
  background-size: cover;
  height: 95rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: space-around;
  margin-bottom: 7.79%;
  max-width: 75.1rem;
}















//   background-size: cover;
//   background-position: center;
//   height: 95rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;

// }

// .hero {
//   display: flex;
//   align-items: center;
//   margin-bottom: 7.19%;


//   flex-direction: column;
//   max-width: 75.7rem;
// }
