@media screen and (max-width: 480px) {
  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;

    .nav-links {
      display: none;
      justify-content: space-around;
      flex-direction: column;
      position: absolute;
      top: 10rem;
      width: 100%;
      text-align: center;
      align-items: center;

    }

    .nav-link {
      padding: 1.5rem;
    }

    .menu-icon {
      position: absolute;
      left: 1rem;
      top: 1rem;
    }

    .hamburger,
    .close {
      display: flex;
      padding: 2rem 4rem 0 2rem;
      height: 2rem;
      width: 2rem;
      filter: invert(1);
      transition: opacity 0.3s ease;
    }

    .hamburger {
      opacity: 1;
    }

    .close {
      opacity: 0;
    }

    .menu-toggle {
      display: none;

      &:checked {
        ~.menu-icon .hamburger {
          opacity: 0;
        }

        ~.menu-icon .close {
          opacity: 1;
        }

        ~.nav-links {
          display: flex;
        }

      }
    }

    .logo {

      display: flex;
      justify-content: center;

      width: 25rem;


    }
  }

  .hero-heading {
    font-size: 3rem;
  }

  .hero-heading,
  .hero-sub-heading,
  .hero-text {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;


  }
}



@media screen and (min-width: 650px) {
  & .logo {
    // position: absolute;
    left: 29rem;
    width: 20rem;
  }


}


@media screen and (min-width: 481px) {
  .text_wwd {
    width: 30rem;
  }

  .icon {
    grid-template-columns: auto auto;
  }

  .header {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .menu-icon,
  .navicon {
    display: none;
  }

  .logo-container {
    flex: unset;
    margin: 1.6rem 2rem;
  }

  .menu {
    display: flex;
    max-height: 100%;
    align-items: center;
    padding-right: 2rem;
  }

  .menu__icon {
    gap: 2rem
  }

  .menu__item {
    width: unset;
  }

  .menu__link {
    padding: 0.5rem 0;
  }

  .hero div.content {
    padding-top: 17.1rem;
  }
}


// Our result

.result_title {
  font-size: 2.1rem;
}

#resultext {
  width: 31rem;
}

@media screen and (min-width: 769px) {
  .text_what {
    width: 65rem;
  }

  .icon {
    grid-template-columns: auto auto auto auto;
  }

  .menu__icon {
    gap: 4rem
  }

  .content-text~p {
    display: block;
  }

  .hero div.content {
    padding-bottom: 7.5rem;
  }
}
