* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem; }

li {
  list-style: none; }

p {
  line-height: 3.125rem;
  text-align: center; }

.light {
  color: #ffffff; }

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800; }

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2.31%; }
  nav #menu-toggle {
    display: none; }
  nav .hamburger,
  nav .close {
    display: none;
    padding-top: 1rem;
    filter: invert(1); }
  nav .nav-links {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 1.5%; }
  nav .nav-link:hover a {
    color: #bf5858; }

header {
  background-image: url("../img/headphones_hero_1.jpg");
  background-position: center;
  background-size: cover;
  height: 95rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 7.79%;
  max-width: 75.1rem; }

.wwd {
  display: grid;
  justify-content: center;
  align-items: center; }

.header_wwd {
  display: grid;
  justify-content: center;
  align-items: center; }

.title_wwd {
  justify-self: center;
  margin-top: 10rem;
  font-size: 3rem;
  font-weight: 600; }

.text_wwd {
  width: 20rem;
  margin-top: 4rem;
  text-align: center; }

.icon {
  display: inline-grid;
  justify-content: center;
  grid-template-columns: auto;
  margin-top: 10rem;
  margin-bottom: 6rem; }

.icon_components {
  width: 20rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  margin-bottom: 1rem; }

.img_icon {
  width: 10rem;
  height: 10rem; }

.title_icon {
  font-weight: 700; }

.text_icon {
  line-height: 2.5rem; }

.btn-primary {
  background-color: #FF6565;
  color: #ffffff;
  border-radius: 1.975rem;
  border: none;
  padding: 15.1px 31.75px;
  margin-top: 3.9rem;
  margin-bottom: 8rem;
  font-size: 1.25rem;
  font-weight: 1000;
  text-transform: uppercase;
  cursor: pointer; }
  .btn-primary:hover {
    opacity: 0.9; }

@media screen and (max-width: 480px) {
  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem; }
    nav .nav-links {
      display: none;
      justify-content: space-around;
      flex-direction: column;
      position: absolute;
      top: 10rem;
      width: 100%;
      text-align: center;
      align-items: center; }
    nav .nav-link {
      padding: 1.5rem; }
    nav .menu-icon {
      position: absolute;
      left: 1rem;
      top: 1rem; }
    nav .hamburger,
    nav .close {
      display: flex;
      padding: 2rem 4rem 0 2rem;
      height: 2rem;
      width: 2rem;
      filter: invert(1);
      transition: opacity 0.3s ease; }
    nav .hamburger {
      opacity: 1; }
    nav .close {
      opacity: 0; }
    nav .menu-toggle {
      display: none; }
      nav .menu-toggle:checked ~ .menu-icon .hamburger {
        opacity: 0; }
      nav .menu-toggle:checked ~ .menu-icon .close {
        opacity: 1; }
      nav .menu-toggle:checked ~ .nav-links {
        display: flex; }
    nav .logo {
      display: flex;
      justify-content: center;
      width: 25rem; }
  .hero-heading,
  .hero-sub-heading,
  .hero-text {
    text-align: center;
    max-width: 90%;
    margin: 0 auto; } }

@media screen and (min-width: 650px) {
  .logo {
    left: 29rem;
    width: 20rem; } }

@media screen and (min-width: 481px) {
  .text_wwd {
    width: 30rem; }
  .icon {
    grid-template-columns: auto auto; }
  .header {
    justify-content: space-between;
    flex-wrap: nowrap; }
  .menu-icon,
  .navicon {
    display: none; }
  .logo-container {
    flex: unset;
    margin: 1.6rem 2rem; }
  .menu {
    display: flex;
    max-height: 100%;
    align-items: center;
    padding-right: 2rem; }
  .menu__icon {
    gap: 2rem; }
  .menu__item {
    width: unset; }
  .menu__link {
    padding: 0.5rem 0; }
  .hero div.content {
    padding-top: 17.1rem; } }

@media screen and (min-width: 769px) {
  .text_what {
    width: 65rem; }
  .icon {
    grid-template-columns: auto auto auto auto; }
  .menu__icon {
    gap: 4rem; }
  .content-text ~ p {
    display: block; }
  .hero div.content {
    padding-bottom: 7.5rem; } }
